* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  color: white; }

#upper_body {
  z-index: -1;
  width: auto;
  height: 150px;
  background: url("https://i.pinimg.com/originals/6a/e4/0b/6ae40b17c01bf102aca03dce775c85d6.jpg");
  opacity: 0.8; }

.background {
  position: relative; }
  .background--rightPictures {
    position: absolute;
    right: 0;
    top: -10px; }
    .background--rightPictures--emptyImages {
      margin: 40px 50px;
      display: flex; }
      .background--rightPictures--emptyImages--boxes {
        margin: 0 40px;
        flex: 33%;
        width: 90px;
        height: 90px;
        background-color: white;
        z-index: 1; }
  .background--leftHeading {
    position: absolute;
    margin: 40px 40px; }
    .background--leftHeading--top {
      font-family: 'Courier New', Courier, monospace; }
    .background--leftHeading--bottom {
      margin-top: 10px; }

.navbar {
  padding: 100px;
  background: linear-gradient(to top, black, #1a1919); }

.nav-item {
  padding-left: 100px; }

.nav-link {
  border-radius: 30px; }
  .nav-link:hover {
    transition: .1s ease-in;
    background-color: orangered;
    border-radius: 30px;
    color: white; }

#bodyMain {
  padding-top: 40px; }

.left1 {
  float: left;
  margin-left: 80px; }

.right1 {
  text-align: center;
  float: right;
  margin-right: 50px;
  width: 300px;
  height: 400px;
  border: 1px solid black; }

.bigLeftBox {
  text-align: center;
  width: 600px;
  height: 400px;
  border: 1px solid black; }

.gradTop {
  background: linear-gradient(to top, orangered, white);
  height: 40px; }

.leftImage {
  width: 150px;
  height: 150px;
  background-color: grey;
  color: black; }

.wrapper2 {
  margin: 100px 0; }

@media (max-width: 927px) {
  .background--rightPictures--emptyImages--boxes {
    visibility: hidden;
    overflow-y: hidden; } }
